<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org/"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layouts/default-layout}" th:with="pageTitle='Category Controls'">

<body>

<main layout:fragment="body-content">

    <div class="row pt-4">

        <div class="col-12 col-md-3">
            <div class="card mb-3">

                <div class="card-header">
                    <a class="btn btn-secondary" href="/admin" title="back">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <span>Category Actions</span>
                </div>
                <div class="card-body">
                    <div class="control-buttons">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addModal">Add Category</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-12 col-xl-4 mb-3" th:each="cat : ${categories}">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${cat.name}">Username</h4>
                            <p class="card-text" th:text="${cat.description}">Last Name</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger mr-auto" th:attr="onclick='deleteCategory(\''+${cat.id}+'\')'">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="#" onsubmit="javascript:addCategory(this); return false;">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="Enter description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </div>
            </form>
        </div>
    </div>


</main>

</body>
</html>