<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org/"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layouts/default-layout}" th:with="pageTitle='Categories'">

<body>
<div layout:fragment="head-content">
    <span class="head-logo">Categories</span>
</div>
<main layout:fragment="body-content">
    <div class="row mx-md-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Categories!</h4>
                            <p class="card-text">All the categories!</p>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row mt-2 mx-md-4">
                <div class="col-4" th:each="category : ${categories}">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${category.firstName}">Category</h4>
                            <p class="card-text" th:text="${category.lastName}">Description</p>
                        </div>
                    </div>
                </div>
    </div>
</main>
</body>
</html>