html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #FCFCFC;
}

/* Fonts */
[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.jumbotron, .jumbotron * {
    border-radius: 0px;
    margin-bottom: 0px;
    color: #fffabd;
}
/* .jumbotron *, */
.navbar-brand {
    font-family: 'Orbitron', cursive;
    /* font-family: 'Marck Script', cursive; */
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', cursive;
}

nav {
    font-family: 'Orbitron', sans-serif;
    position: sticky !important;
    top: 0 !important;
}

body {
    margin-bottom: 10rem;
}

main {
    position: relative;
}

.footer {
    background-image: url("/img/footer.png");
    background-size: contain;
    margin-top: 0rem;
    padding: 2rem 2rem;

    position: absolute;
    bottom: 0;

    box-shadow: 0 -.25rem 1rem rgba(0,0,0,0.25) !important;
}

.header {
    background-image: url("/img/banner.png");
    background-size: contain;
    box-shadow: 0 .25rem 1rem rgba(0,0,0,0.25) !important;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    min-height: 40vh;
    object-fit: cover;
}

.card-title {
  color: #d06a6a;
  text-shadow: .1rem .1rem 1.0rem rgba(0,0,0,.20)!important;;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}