<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org/"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layouts/default-layout}" th:with="pageTitle='Error - ' + ${errorPhrase}">

<body>

<main layout:fragment="body-content">
    <div class="row pt-4">
            <div class="col-12 col-md-10 col-xl-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${errorCode} + ' - ' + ${errorPhrase}">Error - Code</h4>
                        <p class="card-text" th:text="${errorMessage}"></p>
                        <p class="card-text" th:text="${errorException}"></p>
                    </div>
                </div>
            </div>
    </div>

</main>

</body>
</html>