<!doctype html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' - Dan\'s Website'">Page Title</title>

    <!-- Style -->
    <link th:replace="fragments/includes :: bootstrap-css">
    <link th:replace="fragments/includes :: main-css">
</head>

<body>
<main class="container-fluid" layout:fragment="body-content"></main>

<th:block th:replace="fragments/includes :: bootstrap-js"/>
<th:block th:replace="fragments/includes :: main-js"/>
</body>
</html>