<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <th:block th:replace="fragments/nav/default-nav :: nav-top"/>

    <header>

        <div class="header jumbotron mb-0 py-3">
            <h4 class="text-light text-center">
                <!--<span layout:fragment="head-content" class="row justify-content-center">Head Content</span>-->
                <!--<span th:text="${pageTitle}" class="row justify-content-center">Page Title</span>-->
            </h4>
        </div>

    </header>
</th:block>
</body>
</html>
